<span *ngIf="visivel">
    <h5>Fase inicial</h5>
    <p>Clique na seta para indicar o campeão do confronto</p>
    <hr />
    <div class="row">
        <!-- Chave 1 -->
          <!-- linha 1-->
          <div class="row">
            <div class="col s3 border-box">
              <p class="center-align">Grupo A</p>
              <p class="center-align">
                <i class="tiny material-icons"
                (click)="setVencedor('GrupoA', getObjetoDoCompetidor('GrupoA', 0))"
                >arrow_upward</i>{{getNomeDoCompetidor('GrupoA', 0)}}
              </p>
              <p class="center-align">
                <i class="tiny material-icons"
                (click)="setVencedor('GrupoA', getObjetoDoCompetidor('GrupoA', 1))"
                >arrow_upward</i>{{getNomeDoCompetidor('GrupoA', 1)}}
              </p>
            </div>
            <div class="col s3"></div>
            <div class="col s3"></div>
            <div class="col s3 border-box">
              <p class="center-align">Grupo E</p>
              <p class="center-align">
                <i class="tiny material-icons"
                (click)="setVencedor('GrupoE', getObjetoDoCompetidor('GrupoE', 0))"
                >arrow_upward</i>{{getNomeDoCompetidor('GrupoE', 0)}}
              </p>
              <p class="center-align">
                <i class="tiny material-icons"
                (click)="setVencedor('GrupoE', getObjetoDoCompetidor('GrupoE', 1))"
                >arrow_upward</i>{{getNomeDoCompetidor('GrupoE', 1)}}
              </p>
            </div>
          </div>
          <!-- /linha 1-->
    
          <!-- linha 2-->
          <div class="row">
          <div class="col s3"></div>
          <div class="col s3 border-box">
            <p class="center-align">Grupo I</p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoI', getObjetoDoCompetidor('GrupoI', 0))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoI', 0)}}
            </p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoI', getObjetoDoCompetidor('GrupoI', 1))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoI', 1)}}
            </p>
          </div>
          <div class="col s3 border-box">
            <p class="center-align">Grupo K</p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoK', getObjetoDoCompetidor('GrupoK', 0))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoK', 0)}}
            </p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoK', getObjetoDoCompetidor('GrupoK', 1))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoK', 1)}}
            </p>
          </div>
          <div class="col s3"></div>
          </div>
          <!-- /linha 2-->
    
          <!-- linha 3-->
          <div class="row">
          <div class="col s3 border-box">
            <p class="center-align">Grupo B</p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoA', getObjetoDoCompetidor('GrupoB', 0))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoB', 0)}}
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoA', getObjetoDoCompetidor('GrupoB', 1))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoB', 1)}}
          </div>
          <div class="col s3"></div>
          <div class="col s3"></div>
          <div class="col s3 border-box">
            <p class="center-align">Grupo F</p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoF', getObjetoDoCompetidor('GrupoF', 0))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoF', 0)}}
            </p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoF', getObjetoDoCompetidor('GrupoF', 1))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoF', 1)}}
            </p>
          </div>
          </div>
          <!-- /linha 3-->
        <!-- /Chave 1 -->
        <!-- Chave 2 -->
          <!-- linha 1-->
          <div class="row">
          <div class="col s3 border-box">
            <p class="center-align">Grupo C</p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoC', getObjetoDoCompetidor('GrupoC', 0))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoC', 0)}}
            </p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoC', getObjetoDoCompetidor('GrupoC', 1))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoC', 1)}}
            </p>
          </div>
          <div class="col s3"></div>
          <div class="col s3"></div>
          <div class="col s3 border-box">
            <p class="center-align">Grupo G</p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoG', getObjetoDoCompetidor('GrupoG', 0))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoG', 0)}}
            </p>
            <p class="center-align"
            (click)="setVencedor('GrupoG', getObjetoDoCompetidor('GrupoG', 1))"
            >
              <i class="tiny material-icons">arrow_upward</i>{{getNomeDoCompetidor('GrupoG', 1)}}
            </p>
          </div>
          </div>
          <!-- /linha 1-->
    
          <!-- linha 2-->
          <div class="row">
          <div class="col s3"></div>
          <div class="col s3 border-box">
            <p class="center-align">Grupo J</p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoJ', getObjetoDoCompetidor('GrupoJ', 0))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoJ', 0)}}
            </p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoJ', getObjetoDoCompetidor('GrupoJ', 1))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoJ', 1)}}
            </p>
          </div>
          <div class="col s3 border-box">
            <p class="center-align">Grupo L</p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoL', getObjetoDoCompetidor('GrupoL', 0))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoL', 0)}}
            </p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoL', getObjetoDoCompetidor('GrupoL', 1))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoL', 1)}}
            </p>
          </div>
          <div class="col s3"></div>
          </div>
          <!-- /linha 2-->
    
          <!-- linha 3-->
          <div class="row">
          <div class="col s3 border-box">
            <p class="center-align">Grupo D</p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoD', getObjetoDoCompetidor('GrupoD', 0))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoD', 0)}}
            </p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoD', getObjetoDoCompetidor('GrupoD', 1))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoD', 1)}}
            </p>
          </div>
          <div class="col s3"></div>
          <div class="col s3"></div>
          <div class="col s3 border-box">
            <p class="center-align">Grupo H</p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoH', getObjetoDoCompetidor('GrupoH', 0))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoH', 0)}}
            </p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoH', getObjetoDoCompetidor('GrupoH', 1))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoH', 1)}}
            </p>
          </div>
          </div>
          <!-- /linha 3-->
        <!-- /Chave 2 -->
      </div>
      <h5>Semifinal</h5>
      <p>Clique na seta para indicar o campeão do confronto</p>
      <hr />
      <div class="row">
        <div class="col s6 border-box">
            <p class="center-align">Grupo M</p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoM', getObjetoDoCompetidor('GrupoM', 0))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoM', 0)}}
            </p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoM', getObjetoDoCompetidor('GrupoM', 1))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoM', 1)}}
            </p>
          </div>
          <div class="col s6 border-box">
            <p class="center-align">Grupo N</p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoN', getObjetoDoCompetidor('GrupoN', 0))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoN', 0)}}
            </p>
            <p class="center-align">
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoN', getObjetoDoCompetidor('GrupoN', 1))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoN', 1)}}
            </p>
          </div>
      </div>
      <h5>Disputa 3o Lugar</h5>
      <p>Clique na seta para indicar o campeão do confronto</p>
      <hr />
      <div class="row">
        <div class="col s12 border-box">
            <p class="center-align"><i class="tiny material-icons"
              (click)="setVencedor('GrupoTerceiroLugar', getObjetoDoCompetidor('GrupoTerceiroLugar', 0))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoTerceiroLugar', 0)}} x 
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoTerceiroLugar', getObjetoDoCompetidor('GrupoTerceiroLugar', 1))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoTerceiroLugar', 1)}}</p>
        </div>
      </div>
      <h5>Final</h5>
      <p>Clique na seta para indicar o campeão do confronto</p>
      <hr />
      <div class="row">
        <div class="col s12 border-box">
            <p class="center-align"><i class="tiny material-icons"
              (click)="setVencedor('GrupoFinal', getObjetoDoCompetidor('GrupoFinal', 0))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoFinal', 0)}} x 
              <i class="tiny material-icons"
              (click)="setVencedor('GrupoFinal', getObjetoDoCompetidor('GrupoFinal', 1))"
              >arrow_upward</i>{{getNomeDoCompetidor('GrupoFinal', 1)}}</p>
        </div>
      </div>
      <h5>Pódio</h5>
      <hr />
      <div class="row">
        <div class="col s12 border-box">
          <p class="center-align">
            Campeão: {{getNomeDoObjeto(this.chaveamento.Campeao)}} 
          </p>
          <p class="center-align">
            Segundo Lugar: {{getNomeDoObjeto(this.chaveamento.SegundoLugar)}} 
          </p>
          <p class="center-align">
            Terceiro Lugar: {{getNomeDoObjeto(this.chaveamento.TerceiroLugar)}} 
          </p>
        </div>
      </div>
</span>