<span *ngIf="visivel">
    <h5>Fase inicial</h5>
    <hr />
    <div class="row">
        <!-- Chave 1 -->
          <!-- linha 1-->
          <div class="col s6">
            <p class="left-align">Grupo A</p>
            <p class="left-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoA[0])}}
            </p>
            <p class="left-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoA[1])}}
            </p>
          </div>
          <div class="col s6">
            <p class="right-align">Grupo E</p>
            <p class="right-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoE[0])}}
            </p>
            <p class="right-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoE[1])}}
            </p>
          </div>
          <!-- /linha 1-->
    
          <!-- linha 2-->
          <div class="col s3"></div>
          <div class="col s3">
            <p class="left-align">Grupo I</p>
            <p class="left-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoI[0])}}</p>
            <p class="left-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoI[1])}}</p>
          </div>
          <div class="col s3">
            <p class="right-align">Grupo K</p>
            <p class="right-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoK[0])}}</p>
            <p class="right-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoK[1])}}</p>
          </div>
          <div class="col s3"></div>
          <!-- /linha 2-->
    
          <!-- linha 3-->
          <div class="col s6">
            <p class="left-align">Grupo B</p>
            <p class="left-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoB[0])}}</p>
            <p class="left-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoB[1])}}</p>
          </div>
          <div class="col s6">
            <p class="right-align">Grupo F</p>
            <p class="right-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoF[0])}}</p>
            <p class="right-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoF[1])}}</p>
          </div>
          <!-- /linha 3-->
        <!-- /Chave 1 -->
        <!-- Chave 2 -->
          <!-- linha 1-->
          <div class="col s6">
            <p class="left-align">Grupo C</p>
            <p class="left-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoC[0])}}</p>
            <p class="left-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoC[1])}}</p>
          </div>
          <div class="col s6">
            <p class="right-align">Grupo G</p>
            <p class="right-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoG[0])}}</p>
            <p class="right-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoG[1])}}</p>
          </div>
          <!-- /linha 1-->
    
          <!-- linha 2-->
          <div class="col s3"></div>
          <div class="col s3">
            <p class="left-align">Grupo J</p>
            <p class="left-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoJ[0])}}</p>
            <p class="left-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoJ[1])}}</p>
          </div>
          <div class="col s3">
            <p class="right-align">Grupo L</p>
            <p class="right-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoL[0])}}</p>
            <p class="right-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoL[1])}}</p>
          </div>
          <div class="col s3"></div>
          <!-- /linha 2-->
    
          <!-- linha 3-->
          <div class="col s6">
            <p class="left-align">Grupo D</p>
            <p class="left-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoD[0])}}</p>
            <p class="left-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoD[1])}}</p>
          </div>
          <div class="col s6">
            <p class="right-align">Grupo H</p>
            <p class="right-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoH[0])}}</p>
            <p class="right-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoH[1])}}</p>
          </div>
          <!-- /linha 3-->
        <!-- /Chave 2 -->
      </div>
      <h5>Semifinal</h5>
      <hr />
      <div class="row">
        <div class="col s6">
            <p class="left-align">Grupo M</p>
            <p class="left-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoM[0])}}</p>
            <p class="left-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoM[0])}}</p>
          </div>
          <div class="col s6">
            <p class="right-align">Grupo N</p>
            <p class="right-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoN[0])}}</p>
            <p class="right-align">
              <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.GrupoN[0])}}</p>
          </div>
      </div>
      <h5>Disputa 3o Lugar</h5>
      <hr />
      <div class="row">
        <div class="col s12">
            <p class="left-align"><i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.DisputaTerceiroLugar[0])}} x <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.DisputaTerceiroLugar[1])}}</p>
        </div>
      </div>
      <h5>Final</h5>
      <hr />
      <div class="row">
        <div class="col s12">
            <p class="left-align"><i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.DisputaFinal[0])}} x <i class="small material-icons">arrow_upward</i>{{getNomeDoObjeto(this.chaveamento.DisputaFinal[1])}}</p>
        </div>
      </div>
</span>