<ul id="slide-out" class="sidenav sidenav-fixed" #sidenav>
    <li>
      <div class="user-view z-depth-1">
        <div class="background">
          <img class="responsive-img" src="assets/trofeu.png">
        </div>
      </div>
    </li>
    <div  [hidden]="logado()">
      <li><a class="subheader">Cadastros</a></li>
      <li><a [routerLink]="['/campeonatos']"><i class="material-icons">assistant_photo</i>Campeonatos</a></li>
      <li><a [routerLink]="['/categorias']"><i class="material-icons">art_track</i>Categorias</a></li>
      <li><a [routerLink]="['/times']"><i class="material-icons">assignment</i>Times</a></li>
      <li><a [routerLink]="['/jogadores']"><i class="material-icons">directions_run</i>Jogadores</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Gestão</a></li>
      <li><a [routerLink]="['/gerarchaveamento']"><i class="material-icons">vpn_key</i>Gerar chaveamento</a></li>
      <li><a [routerLink]="['/gestaocampeonato']"><i class="material-icons">visibility</i>Gestão de campeonatos</a></li>
      <li><a [routerLink]="['/relatorio']"><i class="material-icons">view_headline</i>Relatório</a></li>
      <li><a [routerLink]="['/logout']"><i class="material-icons">exit_to_app</i>Sair</a></li>
    </div>
    <div  [hidden]="!logado()">
      <li><a [routerLink]="['/logout']"><i class="material-icons">touch_app</i>Entrar</a></li>
    </div>
  </ul>
