<table class="striped responsive-table">
  <thead>
    <tr>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Cidade</th>
        <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let jogador of listajogadores">
      <td>{{jogador.nomeCompetidor | uppercase}}</td>
      <td>{{jogador.dataNascimento}}</td>
      <td>{{jogador.cidade}}</td>
      <td>
        <button
        class="btn waves-effect waves-light red darken-4"
        type="submit"
        (click)="ativarDesativarJogador(jogador);"
      >
        <div *ngIf="jogador.ativo == true; then thenBlock else elseBlock"></div>
          <ng-template minW #thenBlock>Desativar</ng-template >
          <ng-template #elseBlock>Ativar</ng-template >
        </button>
      </td>
      <td>
        <button
        class="btn waves-effect waves-light red darken-4"
        type="submit"
        (click)="editarJogador(jogador);"
      >
        Editar
        </button>
      </td>
      <td>
        <button
        class="btn waves-effect waves-light red darken-4"
        type="submit"
        [routerLink]="['/jogadores', jogador.id]"
      >
        Ver detalhes
        </button>
      </td>
  </tr>
  </tbody>
</table>