<div class="container contact">

    <h5>Gestão do Campeonato</h5>
    <hr />
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <select
                        name="select-campeonato"
                        id="select-campeonato"
                        #comboCampeonatos
                        [(ngModel)] = "chaveamento"
                        (change)="verificaSePreenchido()"
                    >
                        <option value="" disabled selected>Escolha o campeonato</option>
                        <option *ngFor="let chaveamento of listaChaveamento" [ngValue]="chaveamento" >
                            {{ chaveamento.Campeonato.nomeCampeonato }} [{{chaveamento.Campeonato.categoria!.nomeCategoria}}]
                        </option>
                    </select>
                    <div class="red-text" *ngIf="!selectPreenchido && selectTouched > 0">
                        Campo obrigatório
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <button
                    class="btn waves-effect waves-light light-blue darken-4"
                    type="submit"
                    (click)="this.visualizarChaveamento();"
                    [disabled]="!selectPreenchido"
                    >
                    Visualizar
                    <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <app-gerir-campeonato
        [chaveamento] = "chaveamentoAtual"
    ></app-gerir-campeonato>
    <router-outlet></router-outlet>
</div>