<h5>Cadastro de Campeonatos</h5>
<hr />
<div class="row">
  <form class="col s12" #formCampeonato="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <input
          name="input-campeonato"
          id="input-campeonato"
          type="text"
          [(ngModel)]="this.campeonato.nomeCampeonato"
          #nomeCampeonato = "ngModel"
          minlength="8"
          required
        />
        <label class="active" for="input-categoria">Campeonato</label>
        <div class="red-text" *ngIf="nomeCampeonato.errors?.required && nomeCampeonato.touched">
          Campo obrigatório
        </div>
        <div class="red-text" *ngIf="nomeCampeonato.errors?.minlength&& nomeCampeonato.touched">
          Campo deve ter no mínimo 8 caracteres
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <select 
          name="select-categoria"
          id="select-categoria"
          #comboCategorias
          [(ngModel)]="this.campeonato.categoria"
          [ngClass]="{'is-invalid': formCampeonato.submitted && formCampeonato.errors}"
          #categoria = "ngModel"
          (change)="verificaSePreenchido()"
        >
          <option value="" selected>Escolha a categoria</option>
          <option *ngFor="let categoria of listaCategorias" [ngValue]="categoria" >
            {{ categoria.nomeCategoria }}
          </option>
        </select>
          <label class="active" for="select-categoria">Categoria</label>
          <div class="red-text" *ngIf="!selectPreenchido && selectTouched > 0">
            Campo obrigatório
          </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea 
          name="input-description"
          id="input-description"
          class="materialize-textarea"
          [(ngModel)]="this.campeonato.descricaoCampeonato"
          #descricaoCampeonato = "ngModel"
          minlength="8"
          required
        ></textarea>
        <div class="red-text" *ngIf="descricaoCampeonato.errors?.required && descricaoCampeonato.touched">
          Campo obrigatório
        </div>
        <div class="red-text" *ngIf="descricaoCampeonato.errors?.minlength&& descricaoCampeonato.touched">
          Campo deve ter no mínimo 8 caracteres
        </div>
        <label class="active" for="input-description">Descrição</label>
      </div>
    </div>
    <div class="row">
      <div class="col s4 l2">
        <button
          *ngIf="atualiza == false"
          class="btn waves-effect waves-light light-blue darken-4"
          type="submit"
          (click)="this.cadastraCampeonato();formCampeonato.reset();"
          [disabled]="!formCampeonato.valid || !selectPreenchido"
        >
          Salvar
          <i class="material-icons right">send</i>
        </button>
        <button
          *ngIf="atualiza"
          class="btn waves-effect waves-light red darken-4"
          type="submit"
          (click)="this.editaCampeonato();formCampeonato.reset();"
        >
          Atualizar
          <i class="material-icons right">send</i>
        </button>
      </div>
      <div class="col s8 l10">
        <button
          class="btn waves-effect waves-light red darken-4"
          type="submit"
          (click)="this.limparFormulario();formCampeonato.reset();"
        >
        <div *ngIf="this.atualiza == true; then thenBlock else elseBlock"></div>
          <ng-template minW #thenBlock>Cancelar</ng-template >
          <ng-template #elseBlock>Limpar</ng-template >
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>  