<h5>Cadastro de Times</h5>
<hr />
<div class="row">
  <div class="col s12">
    <form #formTimes="ngForm" (submit)="formTimes.reset()">
      <div class="row">
        <div class="input-field col s12">
          <input
            name="input-time"
            id="input-time"
            type="text"
            [(ngModel)]="this.time.nomeCompetidor"
            #nomeTime = "ngModel"
            minlength="5"
            required
          />
          <label class="active" for="input-time">Time</label>
          <div class="red-text" *ngIf="nomeTime.errors?.required && nomeTime.touched">
            Campo é obrigatório
          </div>
          <div class="red-text" *ngIf="!nomeTime.valid && nomeTime.touched">
            Campo deve ter no mínimo 5 caracteres
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea 
            name="input-description"
            id="input-description"
            class="materialize-textarea"
            [(ngModel)]="this.time.descricaoTime"
            #descricaoTime = "ngModel"
            minlength="8"
            required
          ></textarea>
          <label class="active" for="input-description">Descrição</label>
          <div class="red-text" *ngIf="descricaoTime.errors?.required && descricaoTime.touched">
            Campo é obrigatório
          </div>
          <div class="red-text" *ngIf="!descricaoTime.valid && descricaoTime.touched">
            Campo deve ter no mínimo 8 caracteres
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s4 l2">
          <button
            *ngIf="atualiza == false"
            class="btn waves-effect waves-light red darken-4"
            type="submit"
            (click)="this.cadastraTime();"
            [disabled]="!formTimes.valid"
          >
            Salvar
            <i class="material-icons right">send</i>
          </button>
          <button
            *ngIf="atualiza"
            class="btn waves-effect waves-light red darken-4"
            type="submit"
            (click)="this.editaTime();"
            [disabled]="!formTimes.valid"
          >
            Atualizar
            <i class="material-icons right">send</i>
          </button>
        </div>
        <div class="col s8 l10">
          <button
            class="btn waves-effect waves-light red darken-4"
            type="submit"
            (click)="this.limparFormulario();"
          >
          <div *ngIf="this.atualiza == true; then thenBlock else elseBlock"></div>
            <ng-template minW #thenBlock>Cancelar</ng-template >
            <ng-template #elseBlock>Limpar</ng-template >
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>  