    <h5>Cadastro de Categorias</h5>
    <hr />
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input
              name="input-categoria"
              id="input-categoria"
              type="text"
              [(ngModel)]="this.categoria.nomeCategoria"
            />
            <label class="active" for="input-categoria">Categoria</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea 
              name="input-description"
              id="input-description"
              class="materialize-textarea"
              [(ngModel)]="this.categoria.descricaoCategoria"
            ></textarea>
            <label class="active" for="input-description">Descrição</label>
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <button
              class="btn waves-effect waves-light light-blue darken-4"
              type="submit"
              (click)="this.cadastraCategoria();"
            >
              Salvar
              <i class="material-icons right">send</i>
            </button>
          </div>
          <div class="col s9">
            <button
              class="btn waves-effect waves-light light-blue darken-4"
              type="submit"
              (click)="this.limpaFormulario();"
            >
              Limpar
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>  