<div class="container contact">

    <h5>Detalhes do Time {{time.nomeCompetidor}}</h5>
    <hr />
    <div class="row">
    <form class="col s12">
        <div class="row">
        <div class="input-field col s12">
            <input
            name="input-time"
            id="input-time"
            type="text"
            value={{time.nomeCompetidor}}
            disabled
            />
            <label class="active" for="input-time">Categoria</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <textarea 
            name="input-description"
            id="input-description"
            class="materialize-textarea"
            value={{time.descricaoTime}}
            disabled
            ></textarea>
            <label class="active" for="input-description">Descrição</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input 
            name="input-ativo"
            id="input-ativo"
            class="materialize-textarea"
            value={{this.getStatus()}}
            disabled
            />
            <label class="active" for="input-ativo">Ativo</label>
        </div>
        </div>
        <div class="row">
        <div class="col s3">
            <a [routerLink]="['/times']">VOLTAR</a>
        </div>
        </div>
    </form>
    </div>

</div>