<span *ngIf="visivel">
    <hr />
    <div class="row">
        <div class="col s2">
            Fase de Grupos
            <hr />
            Grupo A
            <p>{{getNomeDoCompetidor('GrupoA', 0)}}</p>
            <p>{{getNomeDoCompetidor('GrupoA', 1)}}</p>
            <hr />
            Grupo B
            <p>{{getNomeDoCompetidor('GrupoB', 0)}}</p>
            <p>{{getNomeDoCompetidor('GrupoB', 1)}}</p>
            <hr />
            Grupo C
            <p>{{getNomeDoCompetidor('GrupoC', 0)}}</p>
            <p>{{getNomeDoCompetidor('GrupoC', 1)}}</p>
            <hr />
            Grupo D
            <p>{{getNomeDoCompetidor('GrupoD', 0)}}</p>
            <p>{{getNomeDoCompetidor('GrupoD', 1)}}</p>
            <hr />
            Grupo E
            <p>{{getNomeDoCompetidor('GrupoE', 0)}}</p>
            <p>{{getNomeDoCompetidor('GrupoE', 1)}}</p>
            <hr />
            Grupo F
            <p>{{getNomeDoCompetidor('GrupoF', 0)}}</p>
            <p>{{getNomeDoCompetidor('GrupoF', 1)}}</p>
            <hr />
            Grupo G
            <p>{{getNomeDoCompetidor('GrupoG', 0)}}</p>
            <p>{{getNomeDoCompetidor('GrupoG', 1)}}</p>
            <hr />
            Grupo H
            <p>{{getNomeDoCompetidor('GrupoH', 0)}}</p>
            <p>{{getNomeDoCompetidor('GrupoH', 1)}}</p>
        </div>
        <div class="col s2">
            Quartas de Final
            <hr />
            Grupo I
            <p>{{getNomeDoCompetidor('GrupoI', 0)}}</p>
            <p>{{getNomeDoCompetidor('GrupoI', 1)}}</p>
            <hr />
            Grupo J
            <p>{{getNomeDoCompetidor('GrupoJ', 0)}}</p>
            <p>{{getNomeDoCompetidor('GrupoJ', 1)}}</p>
            <hr />
            Grupo K
            <p>{{getNomeDoCompetidor('GrupoK', 0)}}</p>
            <p>{{getNomeDoCompetidor('GrupoK', 1)}}</p>
            <hr />
            Grupo L
            <p>{{getNomeDoCompetidor('GrupoL', 0)}}</p>
            <p>{{getNomeDoCompetidor('GrupoL', 1)}}</p>
        </div>
        <div class="col s2">
            Semifinal
            <hr />
            Grupo M
            <p>{{getNomeDoCompetidor('GrupoM', 0)}}</p>
            <p>{{getNomeDoCompetidor('GrupoM', 1)}}</p>
            <hr />
            Grupo N
            <p>{{getNomeDoCompetidor('GrupoN', 0)}}</p>
            <p>{{getNomeDoCompetidor('GrupoN', 1)}}</p>
        </div>
        <div class="col s2">
            Disputa 3o Lugar
            <hr />
            <p>{{getNomeDoCompetidor('GrupoTerceiroLugar', 0)}}</p>
            <p>{{getNomeDoCompetidor('GrupoTerceiroLugar', 1)}}</p>
        </div>
        <div class="col s2">
            Final
            <hr />
            <p>{{getNomeDoCompetidor('GrupoFinal', 0)}}</p>
            <p>{{getNomeDoCompetidor('GrupoFinal', 1)}}</p>
        </div>
        <div class="col s2">
            Pódio
            <hr />
            1o - <p>{{getNomeDoObjeto(this.chaveamento.Campeao)}}</p>
            2o - <p>{{getNomeDoObjeto(this.chaveamento.SegundoLugar)}}</p>
            3o - <p>{{getNomeDoObjeto(this.chaveamento.TerceiroLugar)}}</p>
        </div>
    </div>
</span>