<div class="container-fluid">
        <app-cadastrotimes
            [listaTimes]="listaTimes"
            [time]="time"
            [atualiza]="atualiza"
            (limpaFormulario)="limparFormulario()"
            (salvaTime)="salvarTime($event)"
            (atualizaTime)="atualizarTime($event)"
    ></app-cadastrotimes>

    <app-listatimes 
            [atualiza]="atualiza"
            [listaTimes]="listaTimes" 
            (ativaDesativarTime)="ativarDesativarTime($event)"
            (editaTime)="editarTime($event)"
    ></app-listatimes>
</div>