<span *ngIf="visivel">
    <hr />
    <div class="row">
        <div class="col s2">
            Fase de Grupos
            <hr />
            Grupo A
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoA[0])}}</p>
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoA[1])}}</p>
            <hr />
            Grupo B
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoB[0])}}</p>
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoB[1])}}</p>
            <hr />
            Grupo C
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoC[0])}}</p>
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoC[1])}}</p>
            <hr />
            Grupo D
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoD[0])}}</p>
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoD[1])}}</p>
            <hr />
            Grupo E
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoE[0])}}</p>
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoE[1])}}</p>
            <hr />
            Grupo F
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoF[0])}}</p>
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoF[1])}}</p>
            <hr />
            Grupo G
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoG[0])}}</p>
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoG[1])}}</p>
            <hr />
            Grupo H
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoH[0])}}</p>
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoH[1])}}</p>
        </div>
        <div class="col s2">
            Quartas de Final
            <hr />
            Grupo I
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoI[0])}}</p>
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoI[1])}}</p>
            <hr />
            Grupo J
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoJ[0])}}</p>
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoJ[1])}}</p>
            <hr />
            Grupo K
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoK[0])}}</p>
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoK[1])}}</p>
            <hr />
            Grupo L
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoL[0])}}</p>
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoL[1])}}</p>
        </div>
        <div class="col s2">
            Semifinal
            <hr />
            Grupo M
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoM[0])}}</p>
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoM[1])}}</p>
            <hr />
            Grupo N
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoN[0])}}</p>
            <p>{{getNomeDoObjeto(this.chaveamento.GrupoN[1])}}</p>
        </div>
        <div class="col s2">
            Disputa 3o Lugar
            <hr />
            <p>{{getNomeDoObjeto(this.chaveamento.DisputaTerceiroLugar[0])}}</p>
            <p>{{getNomeDoObjeto(this.chaveamento.DisputaTerceiroLugar[1])}}</p>
        </div>
        <div class="col s2">
            Final
            <hr />
            <p>{{getNomeDoObjeto(this.chaveamento.DisputaFinal[0])}}</p>
            <p>{{getNomeDoObjeto(this.chaveamento.DisputaFinal[1])}}</p>
        </div>
    </div>
</span>