/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";

.container-fluid {
    padding: 10px !important;
}

body {
    overflow: auto !important;
}

@media only screen and (max-width : 992px) {
    .container-fluid {
        padding: 5px !important;
    }
}