<ul id="dropdownCadastro" class="dropdown-content ">
  <li><a href="#!">Campeonatos</a></li>
  <li><a href="#!">Categorias</a></li>
  <li><a href="#!">Times</a></li>
  <li><a href="#!">Jogadores</a></li>
</ul>
<nav>
    <div class="nav-wrapper light-blue darken-4">
      <a href="#!" class="brand-logo">
        <i class="material-icons">{{icon}}</i>
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-trigger" href="#!" data-target="dropdownCadastro" #dropdownCadastro>Cadastros<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#">Gerar chaveamento</a></li>
        <li><a href="#">Gestão de campeonatos</a></li>
        <li><a href="#">Relatórios</a></li>
      </ul>
    </div>
  </nav>
  
  <ul class="sidenav" id="mobile-demo" #mobile>
    <ul class="collapsible" #colapse>
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
  </ul>