<div class="container contact">

    <h5>Gerar chaveamento</h5>
    <hr />
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <select
                name="select-campeonato"
                id="select-campeonato"
                #comboCampeonatos
                [(ngModel)] = "campeonato"
            >
                <option value="" disabled selected>Escolha o campeonato</option>
                <option *ngFor="let campeonato of listaCampeonatos" [ngValue]="campeonato" >
                    {{ campeonato.nomeCampeonato }} [{{campeonato.categoria!.nomeCategoria}}]
                </option>
            </select>
          </div>
          <div class="input-field col s6">
            <form action="#">
                <label>
                    <input name="tipoJogadores" id="tipoCompetidores" class="with-gap" type="radio" (change)="selectionarTipoCompetidores('times');" checked />
                    <span>Times</span>
                </label>
                <label>
                    <input name="tipoJogadores" id="tipoCompetidores" class="with-gap" type="radio" (change)="selectionarTipoCompetidores('jogadores');"/>
                    <span>Jogadores</span>
                </label>
            </form>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select multiple
                    name="select-campeonato"
                    id="select-campeonato"
                    class="browser-default"
                    #selecionaCompetidores
                    style="height: 200px;"
                    [(ngModel)] = "listaCompetidoresSelecionados"
                >
                    <option *ngFor="let competidor of listaCompetidores" [ngValue]="competidor">
                        {{ getNomeDoObjeto(competidor) }}
                    </option>
                </select>
            </div>
          </div>
        <div class="row">
          <div class="col s3">
            <button
              class="btn waves-effect waves-light light-blue darken-4"
              type="submit"
              (click)="this.gerarChaveamento();"
            >
              Gerar
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>  

    <app-listarchaveamento
      [listaCompetidoresSelecionados] = "listaCompetidoresSelecionados"
      [tipoCompetidor] = "tipoCompetidor"
      [chaveamento] = "chaveamento"
    ></app-listarchaveamento>
    <router-outlet></router-outlet>
    
</div>