<h5>Cadastro de Jogador</h5>
<hr />
<div class="row">
  <form class="col s12" #formJogadores="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <input
          name="input-jogador"
          id="input-jogador"
          type="text"
          [(ngModel)]="this.jogador.nomeCompetidor"
          #nomeJogador = "ngModel"
          minlength="8"
          required
        />
        <label class="active" for="input-jogador">Nome</label>
        <div class="red-text" *ngIf="nomeJogador.errors?.required && nomeJogador.touched">
          Campo é obrigatório
        </div>
        <div class="red-text" *ngIf="!nomeJogador.valid && nomeJogador.touched">
          Campo deve ter no mínimo 8 caracteres
        </div>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input
            name="input-datanascimento"
            id="input-datanascimento"
            type="text"
            [(ngModel)]="this.jogador.dataNascimento"
            #dataNascimentoJogador = "ngModel"
            pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$"
            mask="00/00/0000"
            [dropSpecialCharacters]="false"
            required
            />
            <label class="active" for="input-jogador">Data de Nascimento</label>
            <div class="red-text" *ngIf="dataNascimentoJogador.errors?.required && dataNascimentoJogador.touched">
              Campo é obrigatório
            </div>
            <div class="red-text" *ngIf="!dataNascimentoJogador.valid && dataNascimentoJogador.touched">
              Formato inválido
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input
            name="input-cidade"
            id="input-cidade"
            type="text"
            [(ngModel)]="this.jogador.cidade"
            #cidade = "ngModel"
            required
            minlength="3"
            />
            <div class="red-text" *ngIf="cidade.errors?.required && cidade.touched">
              Campo é obrigatório
            </div>
            <div class="red-text" *ngIf="!cidade.valid && cidade.touched">
              Campo deve ter no mínimo 3 caracteres
            </div>
            <label class="active" for="input-jogador">Cidade</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input
            name="input-telefone"
            id="input-telefone"
            type="text"
            [(ngModel)]="this.jogador.telefone"
            #telefone = "ngModel"
            mask="(00) 00000-0000"
            [dropSpecialCharacters]="false"
            minlength="11"
            required
            />
            <label class="active" for="input-jogador">Telefone</label>
            <div class="red-text" *ngIf="telefone.errors?.required && telefone.touched">
              Campo é obrigatório
            </div>
            <div class="red-text" *ngIf="!telefone.valid && telefone.touched">
              Formato inválido
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col s4 l2">
        <button
          *ngIf="atualiza == false"
          class="btn waves-effect waves-light red darken-4"
          type="submit"
          (click)="this.cadastraJogador();formJogadores.reset()"
          [disabled]="!formJogadores.valid"
        >
          Salvar
          <i class="material-icons right">send</i>
        </button>
        <button
          *ngIf="atualiza"
          class="btn waves-effect waves-light red darken-4"
          type="submit"
          (click)="this.editaJogador();formJogadores.reset()"
          [disabled]="!formJogadores.valid"
        >
          Atualizar
          <i class="material-icons right">send</i>
        </button>
      </div>
      <div class="col s8 l10">
        <button
          class="btn waves-effect waves-light red darken-4"
          type="submit"
          (click)="this.limparFormulario(); formJogadores.reset()"
        >
        <div *ngIf="this.atualiza == true; then thenBlock else elseBlock"></div>
          <ng-template minW #thenBlock>Cancelar</ng-template >
          <ng-template #elseBlock>Limpar</ng-template >
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>  